h1{
    margin-left: 350px;
    text-decoration: underline;
}
#lastname {
margin-left: 20px;
}
#Contact{
    margin-left: 20px;
}
#Password{
    margin-left: 30px;
}
#Password1 {
    margin-left:  50px
}
div {
    margin-left: 200px ;
}
#btn {
    margin-left: 250px;
    border-radius: 1px;
    box-shadow: 10px;
}